<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="userDao" class="com.shsxt.dao.UserDao"></bean>

	<bean id="userService" class="com.shsxt.service.UserService">
		<property name="userDao" ref="userDao"></property>
		<property name="name" value="zhangsan"></property>
		<property name="age" value="14"></property>
	</bean>


	<!-- 构造器注入 -->
	<bean id="userService2" class="com.shsxt.service.UserService2">
		<!-- <constructor-arg index="0" ref="userDao"></constructor-arg> -->
		<constructor-arg name="userDao" ref="userDao"></constructor-arg>
	</bean>


</beans>
